        body { font-family: Arial, sans-serif; text-align: center; font-size: 16px;
 }
        #game-container { margin-top: 10px; padding: 10px; }

	a:link#otsikko, a:visited#otsikko  {
	color: black;
	text-decoration: none;}

	a:link#valikko, a:visited#valikko  {
	background-color: #e3e3e3;
	color: black;
	width: 30%;
	margin-bottom: 10px;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;}
	h1 { font-family: verdana; font-weight: normal; font-size: 200%; text-decoration: underline; margin-bottom: 25px;}

        #question { font-weight: bold; font-size: 150%; }
        #result { font-weight: bold; margin-top: 10px; }
        .answer-button { margin: 5px; padding: 10px 20px; font-size: 150%; cursor: pointer; }
        .correct { background-color: #4CAF50; color: white; }
        .incorrect { background-color: #f44336; color: white; }


select {
  padding: 5px 5px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 150%;
}

button.correct {
    background-color: #4caf50;
    color: white;
}

button.incorrect {
    background-color: #f44336;
    color: white;
}
button.correct {
    animation: correct-answer 0.5s ease-in-out;
}

@keyframes correct-answer {
    0% { background-color: #4caf50; transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

input[type="number"]
{
    font-size:20px;
    width: 100px;
    padding: 10px 20px;

}